
<!-- <div class="logo">
	<img src="images/logo.png"/>
<div> -->

<section id="profile">
	<div class="container">
		<div class="text-center">
			<h1> Sign In </h1>
			<hr class="star-primary">
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Email:</strong></div>
			<div class="col-sm-6 text-left"><input type="text" ng-model="email" /></div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Password:</strong></div>
			<div class="col-sm-6 text-left"><input type="password" ng-model="password" /></div>
		</div>
		<div class="row text-center">
		<br>
			<button class="btn btn-primary btn-xs" ng-click="clickToLogin(email, password)"> <i class="fa fa-user"></i>  Login </button>
			<button class="btn btn-primary btn-xs" ng-click="clickToRegister(email, password)"> Register </button>
		</div>
		

		 <!-- SAMPLE CODE -->
<!-- <section id="profile">
<div class="container">
	<div class="text-center">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="logo.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="container">

        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">Your Journal</span></legend>
            
                <div class="body">
                    <label>Email</label>
                    <input type="text" ng-model="email">
                    <br>
                    <label>Password</label>
                    <input type="password" ng-model="password">
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>
                                
                    <button type="submit" ng-click="clickToLogin(email, password)" class="btn btn-success">Login</button>
                </div>
            
            </form>
        </div>

    </div>
    </div>
    </div>

    <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="register.html" class="btn btn-black">Register</a>
    </footer>
 -->
