<div class="col-md-12">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li data-toggle="collapse" data-target="#filterOptions"><a href="">Filter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
        <div>
            <div id="filterPadding" class="container">
                <div class="col-md-12">
                    <div class="form">
                        <div id="filterOptions" class="collapse out">
                            <div class="col-xs-2">Search by Date: <input type="text" ng-model="search.date" ng-trim="fullDate">
<!--                             <p> {{search.date | date:'fullDate'}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
         
<div>
<!-- <div class="column"> -->
	<div ng-repeat="history in postHistory | filter:search">
			<hr class="horizontalRule">
		<h4 class="journalDate"> {{history.date | date:'fullDate'}} </h4>
		<div ta-bind="text" ng-model="history.title">
	</div>
</div>

