<script> $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	header: {
    		left:   'title',
    		center: 'today, prev, next',
    		right:  'prevYear, nextYear'
		}
    })

});
</script>

<div class="journalBar"
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/profile"> Profile </a>
      <!-- <a class="navbar-brand" ng-click="retrievePosts()" href="/#/journal/history"> History </a> -->
    </div>


      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
         <!--  <input type="text" class="form-control" placeholder="Search"> -->
        </div>
        <!-- <button type="submit" ng-click="retrievePosts()" class="btn btn-primary btn-sm"> Submit </button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="menu"> 
          <button class="btn btn-primary btn-sm" type="submit" ng-click="retrievePosts()"> History </button>  
          <button class="btn btn-primary btn-sm" ng-click="loggingOut()"> Logout </button>    
        </li>
      </ul>
    </div>
  </div>
<!-- </nav> -->
</div>

<div class=journalHeading> 
	<h1 style="color: #4F759B"><i> A place to store your thoughts... </i></h1> 
</div>

<div>
	<div class="journalButtons"> </div>
		<!-- <button class="postButton" ng-click=""> New Post </button> -->
		<!-- <button class="btn btn-primary btn-xs" ng-click="createThatPost()"> Save </button> -->

	</div>

<!-- textAngular Editor -->
<div style="border: 1px solid" class="textEditor">
	<div text-angular ng-model="journalPost" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"> <div ta-bind ng-model="htmlcontent"></div> </div>
</div>

<button style="float: right; margin-right: 10px; margin-top: 5px" class="btn btn-primary btn-sm" ng-click="createThatPost()"> Save </button>

<div id="calendar"></div>

<h1 style="text-align: center"> Drop a marker where you've visited .. <i class="fa fa-exclamation-triangle"></i> still under construction <i class="fa fa-exclamation-triangle"></i> </h1>
<input class="location" placeholder="Location"></input> <button type="button" class="btn btn-primary btn-xs">Submit</button>
<div class="col-md-9 googleMap"> 
  <ui-gmap-google-map
         center="map.center"
         zoom="map.zoom"
         draggable="true"
         options="map.options">
    <ui-gmap-marker
         coords="map.marker.coords"
         options="map.marker.options"
         idkey="map.marker.id"
         options="map.marker.options">
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>
