    <div  style="opacity: 0.8" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->
          <a class="brand" href="#/auth"><img src="../images/logo.png" style="height: 40px"></a>
        </div>
      </div>
    </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!--   Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

<!--   Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../images/arches.jpg" alt="Chania">
    </div>
  </div>


    <div style="opacity: 0.8" id="login-wraper">
            <form class="form login-form animated pulse">
                <legend style="color: green"> Register here for <br> <span class="blue">The MEAN Stack Blog!</span></legend>
            
                <div class="row">
            <div class="col-sm-6 text-right"><strong>Email:</strong></div>
            <div class="col-sm-6 text-left"><input type="text" ng-model="email" /></div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right"><strong>Password:</strong></div>
            <div class="col-sm-6 text-left"><input type="password" ng-model="password" /></div>
        </div>
        <div class="row text-center">
        <br>
            <button class="btn btn-success" ng-click="clickToRegister(email, password)"><i class="fa fa-user-plus"></i>  Register </button>
       
            
            </form>
        </div>

    </div>

    <footer class="white navbar-fixed-bottom" style="color: black; opacity: 0.8">
      Already have an account? <a href="#/auth">Sign in</a>
    </footer>
